*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    overflow-x: hidden;

    font-weight: 400;
    font-family: "Titillium Web", sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
    align-items: center;
}

.app img {
    width: 100%;
}

.app > .page-container {
    width: 100%;
    border: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
