@mixin base-btn($background-color, $text-color, $transition-color) {
    background-color: $background-color;
    height: 42px;
    font-size: 1em;
    border: 1px solid transparent;
    transition: all .5s ease-in-out;
    border-radius: 0px;
    padding: 3px 3px;
    width: 100%;
    color: $text-color;
    font-weight: 600;

    &:active, &:focus {
        outline: none;
    }

    &:hover {
        background-color: $transition-color;
    }
}