.portfolioManagerpage-container {
    width: 100%;
    display: flex;
    justify-content:space-between;

    .form-container * {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 2em;
        width: 95%;
        padding: 15px;
        margin: 10px;
    }

    .form-container {
        display: grid;
        grid-template-areas: "l r"
                             "b b";
        align-items: center;

        width: 100%;
        height: 100%;
        margin: 20px;

        .right-column-wrapper { 
            grid-area: r;
        }
    
        .left-column-wrapper {
            grid-area: l;
        }
        .bottom-area-wrapper{
            grid-area: b;
        }

        .right-column-wrapper select,input {
            @include base-input();
        }
        
        .left-column-wrapper input {
            @include base-input();
        }

        .bottom-area-wrapper textarea {
            @include base-input();
        }

        .bottom-area-wrapper > .image-uploaders {
            display: grid;
            grid-template-columns: 300px 300px 300px;
            width: 100%;
            grid-gap: 15px;
            height: 400px;
        
        }

        .bottom-area-wrapper > .image-uploaders > .portfolio-manager-image-wrapper {
            display: grid;
            align-self: center;
            grid-template-rows: 200px;
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: 200px;
            
            .dropper-replace-image {
                padding: 0px;
                margin: 0px;
                width: 100%;
                
                img {
                    padding: 0px;
                    margin: 0px;
                    height: 200px;
                    width: 100%;
                    border-radius: 5px;
                    background-color: rgba(131, 131, 131, 0.63);
                }
            }

            .image-delete-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0px;
                margin: 0px;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .bottom-area-wrapper button {
            width: 20%; 
            @include base-input();
        }
    }
}

